<div>
  <table>
    <thead>
    <!--This for step C-->
      <tr>
        <th>Country:</th>
        <td> {{ countryId }}</td>
      </tr>

      <tr>
        <th>Capital City:</th>
        <td> {{ countryCapital }}</td>
      </tr>

      <tr>
        <th>Region:</th>
        <td> {{ countryRegion }}</td>
      </tr>

      <tr>
        <th>Income Level:</th>
        <td> {{ countryIncomeLevel }}</td>
      </tr>

      <tr>
        <th>Latitude:</th>
        <td> {{ countryLatitude }}</td>
      </tr>

      <tr>
        <th>Longitude:</th>
        <td> {{ countryLongitude }}</td>
      </tr>

    </thead>
  </table>
</div>
