path {
  fill: #000000;
  stroke: #e68a00;
  transition: 100ms;
}

path:hover {
  fill: #e68a00;
  cursor: pointer;
}

.world-map {
  background: lightblue;
  width: 100vw;
  height: 100vh;
}

svg {
  width: 100%;
  height: 100%;
}
